LANGUAGE_BILLING_ENDPOINT=https://<azure_language_instance>.cognitiveservices.azure.com/
LANGUAGE_BILLING_KEY=<azure_language_key>
LANGUAGE_ENDPOINT=http://localhost:<port of exposed text analytics for health container>



LANGFUSE_HOST=http://localhost:3000
LANGFUSE_PUBLIC_KEY=<public_key>
LANGFUSE_SECRET_KEY=<secreat_key>

UMLS_API_KEY=<umls_api_key>
